.app.dark {
  --bg-color: #151579;
  --inverted-bg-color: #c5c5c5;

  --primary-color: #c5c5c5;
  --secondary-color: #c5c5c5;
  --inverted-primary-color: #0000c7;
  --inverted-secondary-color: #2167ff;
}